<!DOCTYPE html>
<html>
<%- include("partials/head") %>
<body>
	<div id="CONTAINER">
		<%- include("partials/navigation") %>
		<i id="SIGNAL" class="fa fas fa-signal"></i>
		<i id="WIFI" class="fa fas fa-wifi"></i>
		<span id="HOUR">7:50 PM</span>
		<i id="BATTERY" class="fa fas fa-battery-full"></i>
		<div class="col-md-11">
			<h4 id="Search_Cos">Search</h4>
			<div class="input-group">
				<label Id="Label" for="Search_By">Search By:</label>
				<select name="by" id="Search_By">
					<option value="Name">Name</option>
					<option value="License Plate">License Plate</option>
					<option value="Vin">Vin</option>
				</select>
			</div>
			<form action="/search-customer" method="post">
				<div class="input-group">
					<label Id="Label" for="Search_By">Search By:</label>
					<select name="by" id="Search_By">
                        <option value="">Seleccione un opción</option>
						<option value="Name">Name</option>
						<option value="License Plate">License Plate</option>
						<option value="Vin">Vin</option>
					</select>
                </div>
				<div class="input-group">
					<div class="col-md-10">
						<input class="form-control" type="text" name="query" id="Query" required
							value= "<%= query %>" placeholder="Search here">
					</div>
					<input class="btn btn-primary" id="Button" type="submit" value="Search">

				</div>
			</form>
			<div class="form-group">
            <form action="/view-customer" method="post">
                
            <div id="Show_Two" class="container">
                <% customers.forEach( function (customer){ %>
                    <div class="card mx-auto my-2">
                        <div class="card-body">
                            <p>Name: <%= customer.name%></p>
                            <p>License Plate: <%= customer.plate %></p>
                            <p>Mark: <%= customer.make%></p>
                            <p>Model: <%= customer.model%></p>
                            <p>Vin: <%= customer.vin%></p>
                            <input type="text" name="plate"  style="display: none;" value="<%= customer.plate %>">
                            <input class="btn btn-primary" type="submit" value="View Information">
                        </div>
                    </div>
                <%});%>
            </div>
            </form>
            </div>
		</div>
		<a href="/profile"><i Id="BACK_TWO" class="fa fas fa-arrow-circle-left"></i></a>
		<a href="/search-customer"><i Id="CIRCLE" class="fa fas fa-circle"></i></a>
	</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>